.input {
  display: flex;
  align-items: center;
  margin-left: 10px;
  margin-bottom: 10px;
}

.input label {
  font-weight: bold;
  margin-right: 0.5rem;
}

.input input {
  width: 5rem;
  border-radius: 5px;
  border: 1px solid #ccc;
  font: inherit;
}
